<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Skywolf.DatabaseRepository.Properties.Settings.MarketDataConnectionString" connectionString="Data Source=LAPTOP-N2OTR2I1\SKYWOLFDB;Initial Catalog=MarketData;Persist Security Info=True;User ID=liangshu;Password=optimus" providerName="System.Data.SqlClient"/>
        <add name="Skywolf.DatabaseRepository.Properties.Settings.TradeConnectionString" connectionString="Data Source=LAPTOP-N2OTR2I1\SKYWOLFDB;Initial Catalog=Trade;Persist Security Info=True;User ID=liangshu;Password=optimus" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
