<configuration>
  <system.runtime.remoting>
    <application>
      <client>
        <!--You can replace localhost with your server ip address or host name-->
        <wellknown
           type="Remotable.RemoteClass, Remotable"
           url="http://localhost:5000/Chat"
            />
      </client>
      <channels>
        <channel
           ref="http"
           port="0"
            >
          <clientProviders>
            <formatter ref="soap" />
          </clientProviders>
          <serverProviders>
            <formatter ref="soap" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>
