<configuration>
   <system.runtime.remoting>
      <application name="Server">
         <service>
            <wellknown
               mode="Singleton"
               type="Remotable.RemoteClass, Remotable"
               objectUri="Chat"
            />
         </service>
         <channels>
           <channel ref="http" port="8080">
             <serverProviders>
               <formatter ref="soap" typeFilterLevel="Full" />
             </serverProviders>
           </channel>
         </channels>
      </application>
   </system.runtime.remoting>
</configuration>
