<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="LogFilePath" value=".\logs"/>
    <add key="LogFileName" value="AlphaVantageMarketDataAuto.log"/>
    <add key="period" value="W1"/>
    <add key="adjustedvalue" value="true"/>
    <add key="MarketDataSkywolfHttp" value="http://localhost:8065/Skywolf_DEV/MarketDataService"/>
    <add key="StartFrom" value="160"/>
  </appSettings>
</configuration>