<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="LogFilePath" value=".\logs"/>
    <add key="LogFileName" value="AlphaVantageMarketDataAuto.log"/>
    <add key="period" value="D1"/>
    <add key="adjustedvalue" value="true"/>
    <add key="MarketDataDSkywolfHttp" value="http://localhost:8065/Skywolf_DEV/MarketDataService"/>
    <add key="MarketDataMSkywolfHttp" value="http://localhost:8065/Skywolf_DEV/MarketDataService"/>
    <add key="MarketDataWSkywolfHttp" value="http://localhost:8065/Skywolf_DEV/MarketDataService"/>
    <add key="MarketDataMNSkywolfHttp" value="http://localhost:8065/Skywolf_DEV/MarketDataService"/>
    <add key="StartFrom" value="0"/>
    <add key="PriorityStart" value="1000"/>
    <add key="PriorityEnd" value="1000"/>
  </appSettings>
</configuration>